<div class="text-center">
  <h1>User Setting</h1>
</div>

<%= render 'form', user: @user %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <%= link_to 'ユーザ削除', @user, method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-danger" %>
  </div>
</div>